{{!-- The content of main.handlebars should be the complete HTML document. Write a basic structure, including a <head> and <body>.  --}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Main Page</title>
</head>

<body>
  {{!-- As a final part, inside the <body> paste in the following: {{ body }} This injects the HTML from index.handlebars into the body. Views are used with three curly braces! Variables are used double curly braces! --}}
  {{{ body }}}
</body>

</html>